.footer{
    display: flex;
    padding: 36px 0 0;
    justify-content: space-between;
}
.logo_footer{
    display: flex;
    gap: 14px;
}
.sitemap{
    display: block;
    margin: 0;
    padding: 0;
}

.sitemap__list{
    display: block;
    list-style:none;
    gap: 28px;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}

.copyright{
    display: flex;
    
}
