body{
    background: #EFEFF2;
    margin: 0;
    color: #19191C;
    font: 400 18px/28px Inter, sans-serif;

}

.container{
    width: 1440px;
    margin: 0 auto;
}

.header{
    display: flex;
    padding: 36px 0 0;
    justify-content: space-between;
}
.header__box{
    display: flex;
    align-items: center;
    gap: 68px;
}

.nav__list{
    display: flex;
    list-style:none;
    gap: 48px;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}

.link{
    color: #19191C;
    text-decoration: none;
}

.btn-box{
    display: flex;
    gap: 48px;
    align-items: center;

}

.logo{
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    gap: 14px;
    color: #19191C;
    text-decoration: none;
    align-items: center;
}

.header__link{
    color: #19191C;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}

.header__btn{
    background: #19191C;
    color: #EFEFF2;
    padding: 12px 37px;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.offer{
    display: flex;
    justify-content: space-between;
}

.offer__holder{
    width: 648px;
}
.offer__title{
    font-size: 58px;
    line-height: 70px;
}

.footer{
    display: flex;
    background-color:#19191C;
    padding-top: 68px;
    padding-left: 240px;

}
.logo__footer{
    display: flex;
    gap: 12px;
    align-items: center;
    color:#FBFBFC;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
}

.contact__footer__block{
    padding-top: 48px;
}

.contact__footer{
    display: flex;
    padding-top: 28px;
    color: #FBFBFC;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    
}

.sitemap{
    display: block;
}
.sitemap__title{
    color: #FBFBFC;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.sitemap__list{
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}

.link__footer{
    color: #EFEFF2;
    text-decoration: none;
    list-style-type: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.copyright{

}
.copy__footer{
    color: #6D6D77;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
}